.target {
    background: silver;
    height: 100px;
    width: 300px;

    box-sizing: border-box;
    border: 10px solid red;
}

.point {
    width: 200px;
    height: 200px;
    background: coral;
    margin: 10px;
}
